<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div style="width: 100%;height: 40px;display: flex;">
    <div style="width:10%;height: 100%;background-color: red;">进度条</div>
    <div style="width:100%;height: 100%;left: 0;background-color:blueviolet;">遮罩</div>
  </div>
  <!--chrome浏览器不支持自动播放-->
  <audio type="file" id="audioPlay" src="https://music.163.com/song/media/outer/url?id=1969576178.mp3" controls
    :loop="true" :autoplay="false" preload="metadata" muted>
    您的浏览器不支持audio标签,您还是换个浏览器吧
  </audio>
  <!-- 控制 -->
  <div id="play">播放</div>
  <div id="pause">暂停</div>
  <div id="stop">重置</div>
  <div id="volume">音量</div>
  <div id="volume-bar" style="background-color:blue">音量条</div>
  <div id="progress-bar" style="background-color:red">进度条</div>
  <div id="current-time">当前时间</div>
  <div id="duration">总时长</div>
</body>

<script type="text/javascript">

  const audio = document.querySelector('#audioPlay')
  const play = document.querySelector('#play')
  const pause = document.querySelector('#pause')
  const stop = document.querySelector('#stop')
  const volume = document.querySelector('#volume')
  const volumeBar = document.querySelector('#volume-bar')


  // 播放
  play.addEventListener('click', () => {
    audio.play()
  })
  // 暂停
  pause.addEventListener('click', () => {
    audio.pause()
  })
  // 重置
  stop.addEventListener('click', () => {
    audio.pause()
    audio.currentTime = 0
  })
  // 播放结束事件
  audio.addEventListener('ended', () => {
    // audio.currentTime = 0
    // audio.play()
    console.log("播放结束");
  })
  // 监听音量条的改变
  audio.addEventListener('volumechange', () => {
    volumeBar.style.width = Math.ceil(audio.volume * 100) + '%'
    volume.innerHTML = audio.volume * 100 + '%'
    console.log("音量改变");
  })
  // 时间进度条改变
  audio.addEventListener('timeupdate', () => {
    const progressBar = document.querySelector('#progress-bar')
    const currentTime = document.querySelector('#current-time')
    const duration = document.querySelector('#duration')
    progressBar.style.width = `${(audio.currentTime / audio.duration) * 100}%`//设置进度条的宽度
    currentTime.innerHTML = formatTime(audio.currentTime)//设置当前时间
    duration.innerHTML = formatTime(audio.duration)//设置总时间
  })
  // 格式化时间
  function formatTime(seconds) {
    let min = Math.floor(seconds / 60)
    let sec = Math.floor(seconds % 60)
    if (sec < 10) {
      sec = `0${sec}`
    }
    if (min < 10) {
      min = `0${min}`
    }
    return `${min}:${sec}`
  }


</script>

</html>